.row
  .span12
    %h1 The Official Plinq Leaderboard of Awesomness..... Boom!
    .shareButton
.row 
  .span1.offset2{:align => 'right', :style => 'margin-left: 0'} [img]
  .span6
    %h1 Song Title
    %h2 Plinq'd by : Joe Mama

  .span2 
    = link_to "Learn Song", '#', :class => "btn btn-warning"

.playButton
.shareButton 
