#current_key
#keyboard_wrapper
  #keyboard
    #audio_files
    #keys
      #c.whites
      #d.whites
      #e.whites
      #f.whites
      #g.whites
      #a.whites
      #b.whites
      #ct.whites
      #dt.whites
      #et.whites
      #cs.blacks
      #ds.blacks
      #fs.blacks
      #gs.blacks
      #bb.blacks
      #cst.blacks
      #dst.blacks

.controls
  .btn.btn-danger.start_recording
    %i.icon-volume-up

  .btn.btn-info.play_recording
    %i.icon-play