.coworking_location_modal.modal.hide
  .modal-header
    %button.close{:type => 'button', 'data-dismiss' => 'modal'} x
  .modal-body
    .row 
      .left{:align => 'right', :style => 'margin-left: 0'}= link_to(image_tag(user_avatar_url(team_member)), team_member)
      .left
        %h1 Song Title
        %h2 Artist Title
      .clear
    .row
      = link_to "Learn Song", search_mentors_path, :class => "btn btn-warning"