.row
  .span12
    %h1 The Plinq Music Catalog
.row
  .span1.offset2{:align => 'right', :style => 'margin-left: 0'} [img]
  .span6
    %h1 Song Title
    %h2 Artist Title
- @songs.each do |s|
  .row
    .span1.offset2{:align => 'right', :style => 'margin-left: 0'} [img]
    .span6
      %h1= s.title
      %h2= s.artist
    .span2 
      = link_to "Learn Song", song_path(s), :class => "btn btn-warning"