.row
  .span12
    .pagetitle The Plinq Music Catalog
.row 
  .span2.offset2{:align => 'right', :style => 'margin-left: 0'} [img]
  .span6.center
    %h1 Song Title
    %h2 Artist Title
  .span2 
    = link_to "Learn Song", '#', :class => "btn btn-warning"