// Place all the styles related to the Play controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Thanks to P-ano.com for the great audio files and styling

body {
  font-family: 'helvetica';
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.controls {
  padding: 10px;
}

#current_key {
  color: #fff;
  background-color: #000;
  font-size: 200px;
  line-height: 350px;
  width: 100%;
  height: 350px;
  text-align: center;
  width: 100%;
}
#keyboard_wrapper {
  #keyboard{
    position: absolute;
    //top: 0px;
    left: 50%;
    width: 80%;
    //height: 80%;
    height: 350px;
    margin-top: 0;
    margin-left: -40%;
    box-shadow: 0 0 10px #aaa;
    .whites{
      width:10%;
      min-height:100%;
      height:auto;
      background-color:#FFF;
      border:inset 1px #CCC;
      border-bottom:none;border-top:none;
      transition:background-color 0.3s linear;
      -moz-transition:background-color 0.3s linear;
      -o-transition:background-color 0.3s linear;
      -webkit-transition:background-color 0.3s linear;
    }
    .whites:hover{
      -moz-box-shadow:inset 0 0 10px #999;
      -webkit-box-shadow:inset 0 0 10px #999;
      box-shadow:inset 0 0 10px #999;
    }
    .whites:active{
      -moz-box-shadow:inset 0 0 20px #999;
      -webkit-box-shadow:inset 0 0 20px #999;
      box-shadow:inset 0 0 20px #999;background:#eee;
    }
    .whites.active { background-color: #111; }
    
    .blacks{
      background-color:#363636;
      width:8%;
      min-height:60%;
      max-height:60%;
      height:auto;transition:background-color 0.1s linear;
      -moz-transition:background-color 0.1s linear;
      -o-transition:background-color 0.1s linear;
      -webkit-transition:background-color 0.1s linear;
      border-radius:0 0 10px 10px;
    }
    .blacks:hover{
      -moz-box-shadow:inset 0 0 0 1px #333;
      -webkit-box-shadow:inset 0 0 0 1px #333;
      box-shadow:inset 0 0 0 1px #333;
    }
    .blacks:active{
      -moz-box-shadow:inset 0 0 20px #111;
      -webkit-box-shadow:inset 0 0 20px #111;
      box-shadow:inset 0 0 20px #111;
    }
    .blacks.active { background-color: #aaa; }

    #c{float:left;position:absolute;border-left:none;}
    #d{margin-left:10%;position:absolute;}
    #e{margin-left:20%;position:absolute;}
    #f{margin-left:30%;position:absolute;}
    #g{margin-left:40%;position:absolute;}
    #a{margin-left:50%;position:absolute;}
    #b{margin-left:60%;position:absolute;float:right;}
    #ct{margin-left:70%;position:absolute;}
    #dt{margin-left:80%;position:absolute;}
    #et{margin-left:90%;position:absolute;border-right:none;}
    #cs{margin-left:6%;position:absolute;}
    #ds{margin-left:16%;position:absolute;}
    #fs{margin-left:36%;position:absolute;}
    #gs{margin-left:46%;position:absolute;}
    #bb{margin-left:56%;position:absolute;}
    #cst{margin-left:76%;position:absolute;}
    #dst{margin-left:86%;position:absolute;}
  }
}
