.pagetitle {
  color: #666666;
  padding-left:130px;
  font-size: 2.0
}
.navbar-inverse .navbar-inner {
  background: image-url('menugrad.jpg') center top repeat-x;
}

.center {
  text-align: center;
}


.learnButton {
  background: image-url('learn_song_button.png');
  width: 128px;
  height: 39px;
}

.learnButton:hover {
  background: image-url('learn_button_hover.png');
}

.learnButton:active {
  background: image-url('learn_button_downstate.png');
}
