.row
  .span12
    %h1 The Official Plinq Leaderboard of Awesomness..... Boom!
.row 
  .span1.offset2{:align => 'right', :style => 'margin-left: 0'}= link_to(image_tag(user_avatar_url(team_member)), team_member)
  .span6
    %h1 Song Title
    %h2 Plinq'd by : Joe Mama
  .span2 
    = link_to "Learn Song", search_mentors_path, :class => "btn btn-warning"