.navbar.navbar-inverse{:style => 'padding-bottom:0px'}
  .navbar-inner
    .span2{:style => 'padding:8px 0px 0px 20px '}= link_to image_tag('topbar_logo.png'), "/"
    .right
      .nav
        -#%li= link_to 'Music Library', songs_path
        -#%li= link_to 'Leaderboard', leaderboard_index_path
        - if user_signed_in?
          %li.dropdown
            %a{:class => 'dropdown-toggle', 'data-toggle' => 'dropdown', :src => '#'}
              Account
              %b.caret
            %ul.dropdown-menu
              %li= link_to 'View Profile', current_user
              %li= link_to 'Edit Profile', edit_user_path(current_user)
              %li= link_to 'Log Out', '/logout'
    .clear
